{% extends '../base.html' %}

{% block content%}

    <h5 class="card-title text-center">
        Novo Usuário
    </h5>

    <form class="form-signin" action="{% url 'todo_list:cadastro' %}" method="POST">
        <div class="form-label-group">
            {% csrf_token %}
            <label>Primeiro nome:</label>
                {{ form.first_name}}
            <label>Sobrenome:</label>
                {{ form.last_name}}
            <label>Username</label>
                {{form.username}}
            <label>Senha</label>
                {{form.password}}
            <br>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Criar</button>
        </div>
    </form>                    
               
{% endblock %}