{% extends '../base.html' %}

{% block content%}
    <form action="{% url 'todo_list:cadastro' %}" method="POST">
        <div class='form-group'>
            {% csrf_token %}
            <h2>Novo Usuário</h2>
            <label>Primeiro nome:</label>
                {{ form.first_name}}
            <label>Sobrenome:</label>
                {{ form.last_name}}
            <label>Username</label>
                {{form.username}}
            <label>Password</label>
                {{form.password}}
            <button type="submit">Criar</button>
        </div>
    </form>
{% endblock %}