{% extends '../base.html' %}

{% block content%}

    <h5 class="card-title text-center">
        Login
    </h5>
    <form class="form-signin" action="submit/" method="POST">
        {% csrf_token %}
        <div class="form-label-group">
            <label for="Username">Usuário</label>
            <input type="username" id="username" name="username" class="form-control" placeholder="Username" required>
        </div>
        <br>
        <div class="form-label-group">
            <label for="Password">Senha:</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Senha" required>
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Entrar</button>
    </form>               

{% endblock %}