{% extends '../base.html' %}

{% block content%}

<div class="container">
    <h2 class="card-title text-center">Tarefas</h2>
    <ul class="list-group">
        <h4>Criadas por mim</h4>
        {% for task in creator %}
        <li class="list-group-item">
            <!-- {{task.creator}} -->
            <ul>
                <li>
                    <a href="{% url 'todo_list:detail' task.id%}"> 
                        {{task.name}}
                    </a>
                    <a style="float:right" href="{% url 'todo_list:delete_task' task.id %}">
                        Remover
                    </a>
                    <br>
                    <a style="float:right" href="{% url 'todo_list:update_task' task.id %}">
                        Editar
                    </a>
                </li>
            </ul>
        </li>
        {% endfor %}
        <h4>Associadas a mim</h4>
        {% for task in assigned %}
        <li class="list-group-item">
            <!-- {{task.creator}} -->
            <ul>
                <li>
                    <a href="{% url 'todo_list:detail' task.id%}"> 
                        {{task.name}}
                    </a>
                </li>
            </ul>
        </li>
        {% endfor %}
    </ul>
    <br>
    <p class="text-center">
        <a href="{% url 'todo_list:create_task'%}"> 
            Nova Tarefa
        </a>
    </p>
    <p class="text-center">{{user}} deseja <a href="/accounts/logout">sair?</a></p>
</div>

{% endblock %}